<% layout('layouts/main') %>
<% block('subTitle', ' | Docs') %>

<div class="relative sm:flex sm:justify-center sm:items-center min-h-screen bg-dots-darker bg-center bg-gray-100 dark:bg-dots-lighter dark:bg-gray-900 selection:bg-red-500 selection:text-white">
  <div class="max-w-7xl mx-auto p-6 lg:p-8">
    <div class="mt-16">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-8">
        <%- partial('components/iframe', data) %>
      </div>
    </div>

    <%- partial('partials/footer') %>
  </div>
</div>