<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><%= title + block('subTitle').toString() %></title>

    <!-- Styles -->
    <link rel="stylesheet" href="<%= baseUrl %>/public/css/error.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="<%= baseUrl %>/public/css/custome.css">
  </head>
  <body class="antialiased">
    <%- body %>
  </body>
</html>
