<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><%= title + block('subTitle').toString() %></title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link rel="stylesheet" href="https://fonts.bunny.net/css?family=figtree:400,600&display=swap"/>

    <!-- Styles -->
    <link rel="stylesheet" href="<%= baseUrl %>/public/css/main.css">
  </head>
  <body>
    <%- body %>
  </body>
</html>
